In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('/opt/data/in_rolls/in_rolls_state_name_age_sex_fn_ln.csv.gz')
df

,elector_name,age,sex,state,birth_year,first_name,last_name
0,pintu datta,38,male,andaman,1979,pintu,datta
1,sushila devi,39,female,andaman,1978,sushila,devi
2,bala krishna,29,male,andaman,1988,bala,krishna
3,chandra sekhar,45,male,andaman,1972,chandra,sekhar
4,sikander,49,male,andaman,1968,sikander,NaN
5,manimecalai,31,female,andaman,1986,manimecalai,NaN
6,elmer,23,female,andaman,1994,elmer,NaN
7,marianus toppo,47,male,andaman,1970,marianus,toppo
8,wilson,27,male,andaman,1990,wilson,NaN
9,jyothi kiran,42,female,andaman,1975,jyothi,kiran
10,alexus ekka,40,male,andaman,1977,alexus,ekka
11,minol ekka,37,male,andaman,1980,minol,ekka
12,surendra nath singh yadav,48,male,andaman,1969,surendra,yadav
13,john minj,36,male,andaman,1981,john,minj
14,felicitus,36,female,andaman,1981,felicitus,NaN
15,aziza begum,33,female,andaman,1984,aziza,begum
16,amuda,31,female,andaman,1986,amuda,NaN
17,ravikant singh,28,male,andaman,1989,ravikant,singh
18,chote mehar,24,male,andaman,1993,chote,mehar
19,nazarene,27,female,andaman,1990,nazarene,NaN
20,hari ram,43,male,andaman,1974,hari,ram
21,umesh kumar patel,32,male,andaman,1985,umesh,patel
22,bhajnath majhi,47,male,andaman,1970,bhajnath,majhi
23,ram shundar sharma,27,male,andaman,1990,ram,sharma
24,chintala shanmokha rao,38,male,andaman,1979,chintala,rao
25,srinivas,45,male,andaman,1972,srinivas,NaN
26,ravi shankar yadav,28,male,andaman,1989,ravi,yadav
27,ajay kumar,31,male,andaman,1986,ajay,kumar
28,rojaliya ekka,25,female,andaman,1992,rojaliya,ekka
29,recheal,45,female,andaman,1972,recheal,NaN
...,...,...,...,...,...,...,...
35679191,mabu shareef shaik,24,male,andhra,1993,mabu,shaik
35679192,khajabee shaik,37,female,andhra,1980,khajabee,shaik
35679193,ramthu basha shaik,45,male,andhra,1972,ramthu,shaik
35679194,hostel,44,male,andhra,1973,hostel,NaN
35679195,hostel,38,female,andhra,1979,hostel,NaN
35679196,hussain sayed,21,male,andhra,1996,hussain,sayed
35679197,hareesh kumar tanguturu,23,male,andhra,1994,hareesh,tanguturu
35679198,hari krishna tanguturu,22,male,andhra,1995,hari,tanguturu
35679199,muntaj begam sayyad,44,female,andhra,1973,muntaj,sayyad
35679200,subbarathnamma t,42,female,andhra,1975,subbarathnamma,NaN
35679201,haseena begam sayyad,71,female,andhra,1946,haseena,sayyad
35679202,venkatasubbamma katakam,56,female,andhra,1961,venkatasubbamma,katakam
35679203,supraja katakam,26,female,andhra,1991,supraja,katakam
35679204,venkata subbaiah,34,male,andhra,1983,venkata,subbaiah
35679205,pitchaiah pavan,28,male,andhra,1989,pitchaiah,pavan
35679206,jarina begam shaik,36,female,andhra,1981,jarina,shaik
35679207,sreenivasulu koneti,62,male,andhra,1955,sreenivasulu,koneti
35679208,sredevi nareddy,43,female,andhra,1974,sredevi,nareddy
35679209,venkata subbaiah raddugare,63,male,andhra,1954,venkata,raddugare
35679210,zehara shaik,25,female,andhra,1992,zehara,shaik
35679211,shahida bee erraballe,40,female,andhra,1977,shahida,erraballe
35679212,kavitha kesa,38,female,andhra,1979,kavitha,kesa
35679213,sai akhil kandanuru,18,male,andhra,1999,sai,kandanuru
35679214,lakshmi devi maddam,20,female,andhra,1997,lakshmi,maddam
35679215,varalakshmi mutyalapadu,22,female,andhra,1995,varalakshmi,mutyalapadu
35679216,kailash bhople,18,male,andhra,1999,kailash,bhople
35679217,venkatamma madisetty,54,female,andhra,1963,venkatamma,madisetty
35679218,sivamma balisetti,31,female,andhra,1986,sivamma,balisetti
35679219,ameer shaik,45,male,andhra,1972,ameer,shaik
35679220,hari ramisetty,18,male,andhra,1999,hari,ramisetty

### Check age over 100

In [18]:
df[df.age > 100]

,elector_name,age,sex,state,birth_year,first_name,last_name
7197,sabha banu,119,female,andaman,1898,sabha,banu
8300,kajal roy,103,female,andaman,1914,kajal,roy
23188,prakash biswas,101,male,andaman,1916,prakash,biswas
28905,maomay,105,female,andaman,1912,maomay,NaN
35739,cyril uron,112,male,andaman,1905,cyril,uron
36242,panchamala biswas,110,female,andaman,1907,panchamala,biswas
36650,siri kishen,113,male,andaman,1904,siri,kishen
40152,jevan topno,106,male,andaman,1911,jevan,topno
45563,rashmani roy,101,female,andaman,1916,rashmani,roy
51357,shree dhar,109,male,andaman,1908,shree,dhar
61981,vellimma,105,female,andaman,1912,vellimma,NaN
64926,shanti ram mandal,105,male,andaman,1912,shanti,mandal
83840,ayana baidya,110,female,andaman,1907,ayana,baidya
108410,madhivanan,103,male,andaman,1914,madhivanan,NaN
111757,hiramani indwar,119,female,andaman,1898,hiramani,indwar
123921,dwarika kumar das,101,male,andaman,1916,dwarika,das
138759,harasit mandal,105,male,andaman,1912,harasit,mandal
150963,low raju,102,male,andaman,1915,low,raju
152201,nityananda golder,104,male,andaman,1913,nityananda,golder
153526,atul dhali,103,male,andaman,1914,atul,dhali
159269,sarath majhi,102,male,andaman,1915,sarath,majhi
185143,shanti mudit surin,106,female,andaman,1911,shanti,surin
189427,samir dhali,115,male,andaman,1902,samir,dhali
212177,subhashini bairagi,104,female,andaman,1913,subhashini,bairagi
217996,dodum tok,105,male,arunachal,1912,dodum,tok
226059,saichin wangnow,105,male,arunachal,1912,saichin,wangnow
231303,marchi doye,104,male,arunachal,1913,marchi,doye
246057,techi soping,103,male,arunachal,1914,techi,soping
246316,waley sumnyan,105,male,arunachal,1912,waley,sumnyan
246363,nyuwang hakhun,101,male,arunachal,1916,nyuwang,hakhun
...,...,...,...,...,...,...,...
34917428,adimani,105,female,andhra,1912,adimani,NaN
34920445,yenkayamma yallanki,103,female,andhra,1914,yenkayamma,yallanki
34966436,narasinhamurti kakarla,108,male,andhra,1909,narasinhamurti,kakarla
34978155,satyavathi addepalli addepalli,110,female,andhra,1907,satyavathi,addepalli
35013125,bobba.lakshmamma,108,female,andhra,1909,bobba.lakshmamma,NaN
35025104,sunkamma,104,female,andhra,1913,sunkamma,NaN
35054384,rama krishnakumar dharmabottla,134,male,andhra,1883,rama,dharmabottla
35054754,vengalar sharaabu,116,male,andhra,1901,vengalar,sharaabu
35071192,lakshmi easwaramma,103,female,andhra,1914,lakshmi,easwaramma
35100351,hanumanthu kangali,108,male,andhra,1909,hanumanthu,kangali
35125728,basha sayad nasima,114,female,andhra,1903,basha,nasima
35141096,lakshmamma,115,female,andhra,1902,lakshmamma,NaN
35148044,chinbbai konapala,113,male,andhra,1904,chinbbai,konapala
35148284,ogulamma gummalla,101,female,andhra,1916,ogulamma,gummalla
35150981,venkata hanumayamma,103,female,andhra,1914,venkata,hanumayamma
35151987,chiranjeevipdala pansala,101,male,andhra,1916,chiranjeevipdala,pansala
35168533,ramesh shilantarajula,130,male,andhra,1887,ramesh,shilantarajula
35169812,venkata satish pothuraju,117,male,andhra,1900,venkata,pothuraju
35180151,anjaneyulu kalava,115,male,andhra,1902,anjaneyulu,kalava
35190635,changmma mavilla,101,female,andhra,1916,changmma,mavilla
35227047,gangamma konna,101,female,andhra,1916,gangamma,konna
35291666,anantamma jallella,101,female,andhra,1916,anantamma,jallella
35310732,dalamma b,105,female,andhra,1912,dalamma,NaN
35315423,subbamma badri,101,female,andhra,1916,subbamma,badri
35320507,lakshmamma pasupuleti,109,female,andhra,1908,lakshmamma,pasupuleti
35337925,sanna thimmakka,103,female,andhra,1914,sanna,thimmakka
35372377,devikumari garnepudi,101,female,andhra,1916,devikumari,garnepudi
35436452,vemparala,101,male,andhra,1916,vemparala,NaN
35565957,kamalamma pakala,104,female,andhra,1913,kamalamma,pakala
35603343,nandamma putcha,102,female,andhra,1915,nandamma,putcha

### Check amount of male/female group by year for 'rao' and 'singh'

In [16]:
rao_df = df[df.last_name=='rao'].groupby(['birth_year']).sex.value_counts().unstack(fill_value=0)
rao_df

sex         female  male
birth_year
1886             0     1
1915             0     1
1916             0     1
1917             0     3
1918             0     5
1919             0     2
1920             0     7
1921             0     4
1922             0     2
1923             0    11
1924             2     5
1925             0    14
1926             1    25
1927             1    35
1928             1    43
1929             1    45
1930             1    49
1931             1    65
1932             2   100
1933             5   103
1934             8   137
1935             5   122
1936             2   193
1937             7   326
1938            10   305
1939             5   337
1940             4   372
1941             5   447
1942            10   550
1943            20   708
...            ...   ...
1971            52  3667
1972            62  3950
1973            81  4045
1974            57  3829
1975            62  3725
1976            69  4055
1977            74  4028
1978            71  4450
1979            66  4187
1980            64  3911
1981            83  4008
1982            78  4180
1983            89  4503
1984            94  5249
1985            93  5909
1986           144  6796
1987           103  7126
1988           149  7622
1989           130  7638
1990           102  6892
1991           125  6789
1992           122  6606
1993           109  5315
1994            80  3114
1995            77  1921
1996            45  1148
1997            28   457
1998            21   208
1999             1    55
2016             0     1

[87 rows x 2 columns]

In [17]:
rao_df.describe()

sex        female         male
count   87.000000    87.000000
mean    38.287356  2118.528736
std     38.907137  2197.620266
min      0.000000     1.000000
25%      3.000000   112.500000
50%     28.000000  1422.000000
75%     62.000000  3696.000000
max    149.000000  7638.000000

In [21]:
singh_df = df[df.last_name=='singh'].groupby(['birth_year']).sex.value_counts().unstack(fill_value=0)
singh_df

sex         female  male
birth_year
1908             0     1
1913             0     2
1914             0     2
1915             0     3
1916             0     1
1918             0     5
1919             0     3
1920             0     8
1921             0    13
1922             0     5
1923             0    15
1924             0    15
1925             0    33
1926             0    27
1927             2    38
1928             2    49
1929             1    52
1930             0    91
1931             1    95
1932             2    92
1933             1   111
1934             2   108
1935             1   162
1936             1   221
1937             3   154
1938             2   224
1939             4   219
1940             2   298
1941             6   286
1942             9   284
...            ...   ...
1970           145  2082
1971           173  2034
1972           171  2107
1973           151  2143
1974           180  2229
1975           167  2604
1976           144  2451
1977           172  2202
1978           143  2629
1979           196  2329
1980           199  2973
1981           185  2840
1982           198  3231
1983           179  3462
1984           204  3549
1985           187  3428
1986           221  3030
1987           197  3627
1988           224  4619
1989           193  4988
1990           186  5602
1991           205  4704
1992           181  5915
1993           198  5874
1994           193  6066
1995           141  5139
1996           168  5697
1997           138  5337
1998           115  4895
1999            10    27

[87 rows x 2 columns]

### Take out data from Andhra

In [34]:
adf = df[df.state!='andhra'].copy()
adf

,elector_name,age,sex,state,birth_year,first_name,last_name
0,pintu datta,38,male,andaman,1979,pintu,datta
1,sushila devi,39,female,andaman,1978,sushila,devi
2,bala krishna,29,male,andaman,1988,bala,krishna
3,chandra sekhar,45,male,andaman,1972,chandra,sekhar
4,sikander,49,male,andaman,1968,sikander,NaN
5,manimecalai,31,female,andaman,1986,manimecalai,NaN
6,elmer,23,female,andaman,1994,elmer,NaN
7,marianus toppo,47,male,andaman,1970,marianus,toppo
8,wilson,27,male,andaman,1990,wilson,NaN
9,jyothi kiran,42,female,andaman,1975,jyothi,kiran
10,alexus ekka,40,male,andaman,1977,alexus,ekka
11,minol ekka,37,male,andaman,1980,minol,ekka
12,surendra nath singh yadav,48,male,andaman,1969,surendra,yadav
13,john minj,36,male,andaman,1981,john,minj
14,felicitus,36,female,andaman,1981,felicitus,NaN
15,aziza begum,33,female,andaman,1984,aziza,begum
16,amuda,31,female,andaman,1986,amuda,NaN
17,ravikant singh,28,male,andaman,1989,ravikant,singh
18,chote mehar,24,male,andaman,1993,chote,mehar
19,nazarene,27,female,andaman,1990,nazarene,NaN
20,hari ram,43,male,andaman,1974,hari,ram
21,umesh kumar patel,32,male,andaman,1985,umesh,patel
22,bhajnath majhi,47,male,andaman,1970,bhajnath,majhi
23,ram shundar sharma,27,male,andaman,1990,ram,sharma
24,chintala shanmokha rao,38,male,andaman,1979,chintala,rao
25,srinivas,45,male,andaman,1972,srinivas,NaN
26,ravi shankar yadav,28,male,andaman,1989,ravi,yadav
27,ajay kumar,31,male,andaman,1986,ajay,kumar
28,rojaliya ekka,25,female,andaman,1992,rojaliya,ekka
29,recheal,45,female,andaman,1972,recheal,NaN
...,...,...,...,...,...,...,...
8977369,annamari,58,female,puducherry,1959,annamari,NaN
8977370,piransismary,33,female,puducherry,1984,piransismary,NaN
8977371,arikiya anthoniraj,33,male,puducherry,1984,arikiya,anthoniraj
8977372,alakshanthar,30,male,puducherry,1987,alakshanthar,NaN
8977373,rajamani,68,female,puducherry,1949,rajamani,NaN
8977374,thaiyalnaygi,43,female,puducherry,1974,thaiyalnaygi,NaN
8977375,konesh,21,male,puducherry,1996,konesh,NaN
8977376,balraj,60,male,puducherry,1957,balraj,NaN
8977377,susila,56,female,puducherry,1961,susila,NaN
8977378,jackulin mari,32,female,puducherry,1985,jackulin,mari
8977379,arokiaaruljothi,26,female,puducherry,1991,arokiaaruljothi,NaN
8977380,pattu,53,female,puducherry,1964,pattu,NaN
8977381,mari karolin,41,female,puducherry,1976,mari,karolin
8977382,vinoliamary,37,female,puducherry,1980,vinoliamary,NaN
8977383,george,33,male,puducherry,1984,george,NaN
8977384,anthoniyammal,69,female,puducherry,1948,anthoniyammal,NaN
8977385,sebastian,32,male,puducherry,1985,sebastian,NaN
8977386,jeline,25,female,puducherry,1992,jeline,NaN
8977387,thillaiammal,56,female,puducherry,1961,thillaiammal,NaN
8977388,selvam,49,male,puducherry,1968,selvam,NaN
8977389,susila,45,female,puducherry,1972,susila,NaN
8977390,ravisankar,45,male,puducherry,1972,ravisankar,NaN
8977391,arulmarypushpa,38,female,puducherry,1979,arulmarypushpa,NaN
8977392,amudha,36,female,puducherry,1981,amudha,NaN
8977393,kanishkaran k,19,male,puducherry,1998,kanishkaran,NaN
8977394,sundarraj,58,male,puducherry,1959,sundarraj,NaN
8977395,maniyammal,48,female,puducherry,1969,maniyammal,NaN
8977396,bashkaran,38,male,puducherry,1979,bashkaran,NaN
8977397,suganthi,36,female,puducherry,1981,suganthi,NaN
8977398,indra,26,female,puducherry,1991,indra,NaN

In [35]:
adf[adf.last_name=='rao']

,elector_name,age,sex,state,birth_year,first_name,last_name
24,chintala shanmokha rao,38,male,andaman,1979,chintala,rao
80,bogeshwar rao,25,male,andaman,1992,bogeshwar,rao
102,shyamal rao,30,male,andaman,1987,shyamal,rao
114,b keshav rao,53,male,andaman,1964,NaN,rao
184,tata rao,45,male,andaman,1972,tata,rao
187,raja rao,28,male,andaman,1989,raja,rao
188,eswar rao,28,male,andaman,1989,eswar,rao
210,venkat rao,30,male,andaman,1987,venkat,rao
217,baskar rao,23,male,andaman,1994,baskar,rao
248,dilli rao,45,male,andaman,1972,dilli,rao
254,kurma rao,42,male,andaman,1975,kurma,rao
257,eswar rao,31,male,andaman,1986,eswar,rao
260,kurma rao,36,male,andaman,1981,kurma,rao
267,shiva rao,29,male,andaman,1988,shiva,rao
624,janaki rao,55,male,andaman,1962,janaki,rao
733,rama rao,42,male,andaman,1975,rama,rao
801,b dharma rao,53,male,andaman,1964,NaN,rao
2023,d kameswara rao,46,male,andaman,1971,NaN,rao
2180,pappa rao,42,male,andaman,1975,pappa,rao
2506,venu gopal rao,23,male,andaman,1994,venu,rao
2665,vishal rao,31,male,andaman,1986,vishal,rao
2751,g bhaskar rao,57,male,andaman,1960,NaN,rao
2915,kodeswar rao,27,male,andaman,1990,kodeswar,rao
2947,t krishna rao,37,male,andaman,1980,NaN,rao
4520,d deeksha rao,24,female,andaman,1993,NaN,rao
4599,kiran rao,66,male,andaman,1951,kiran,rao
4634,sankar rao,25,male,andaman,1992,sankar,rao
4691,madhu sudhan rao,29,male,andaman,1988,madhu,rao
4776,mr hemant rao,40,male,andaman,1977,NaN,rao
4777,mr k mohaan rao,38,male,andaman,1979,NaN,rao
...,...,...,...,...,...,...,...
8965611,amara koteswara rao,73,male,puducherry,1944,amara,rao
8965640,tadicherla lakshmana rao,49,male,puducherry,1968,tadicherla,rao
8965649,pennada koteswara rao,44,male,puducherry,1973,pennada,rao
8965662,palla venkateswara rao,34,male,puducherry,1983,palla,rao
8965692,eluri siva prasad rao,41,male,puducherry,1976,eluri,rao
8965706,chollangi a.s.s.hanumantha rao,46,male,puducherry,1971,chollangi,rao
8965719,toleti srinivasa rajeswara rao,51,male,puducherry,1966,toleti,rao
8965724,ella ramachandra rao,61,male,puducherry,1956,ella,rao
8965728,ella narayana rao,38,male,puducherry,1979,ella,rao
8965738,motupalli someswara rao,42,male,puducherry,1975,motupalli,rao
8965752,devaguptapu venkata rao,67,male,puducherry,1950,devaguptapu,rao
8965792,vendra ramachandra rao,53,male,puducherry,1964,vendra,rao
8965813,chintalapudi sanyasi rao,45,male,puducherry,1972,chintalapudi,rao
8965828,guttula venkateswara rao,46,male,puducherry,1971,guttula,rao
8965831,saladi samba siva rao,69,male,puducherry,1948,saladi,rao
8965833,kotta venkata padma rao,55,male,puducherry,1962,kotta,rao
8965841,koppula lakshmi narasimha rao,65,male,puducherry,1952,koppula,rao
8965846,rayapureddy venkata krishna rao,48,male,puducherry,1969,rayapureddy,rao
8965891,bandaru nageswara rao,70,male,puducherry,1947,bandaru,rao
8965903,boddu veera venkata madhusudana rao,49,male,puducherry,1968,boddu,rao
8965940,munganda nageswara rao,52,male,puducherry,1965,munganda,rao
8965949,puvvala nageswara rao,66,male,puducherry,1951,puvvala,rao
8965955,jayavarapu sarveswara rao,50,male,puducherry,1967,jayavarapu,rao
8965958,undurthi venkateswara rao,47,male,puducherry,1970,undurthi,rao
8965972,puvvala sudharshana rao,39,male,puducherry,1978,puvvala,rao
8965978,tottaramudi veera raghava rao,51,male,puducherry,1966,tottaramudi,rao
8965983,gutam venkateswara rao,55,male,puducherry,1962,gutam,rao
8965990,savaram sankara rao,74,male,puducherry,1943,savaram,rao
8965998,puvvala venkta rao,60,male,puducherry,1957,puvvala,rao
8966003,puvvala mudhusudhana rao,35,male,puducherry,1982,puvvala,rao

In [36]:
rao_df = adf[adf.last_name=='rao'].groupby(['birth_year']).sex.value_counts().unstack(fill_value=0)
rao_df

sex         female  male
birth_year
1923             0     1
1925             0     1
1926             1     2
1927             0     1
1928             1     1
1929             0     7
1930             1     4
1931             0     7
1932             0     5
1933             1    10
1934             2     7
1935             1    11
1936             1    10
1937             0    16
1938             6    11
1939             0    13
1940             2    22
1941             1    16
1942             3    31
1943             7    28
1944             2    22
1945             5    40
1946             5    29
1947             3    42
1948             7    42
1949             5    43
1950             6    67
1951             3    46
1952             4    58
1953             7    62
...            ...   ...
1970            10   161
1971            12   155
1972            10   196
1973            23   158
1974             7   169
1975            14   156
1976            10   142
1977            17   187
1978            11   159
1979            15   197
1980            17   166
1981            14   189
1982            19   169
1983            11   148
1984             9   152
1985            12   176
1986            17   147
1987             4   148
1988            19   130
1989            18   145
1990             7   113
1991            13   115
1992            14   101
1993            13   104
1994             8    83
1995             9    48
1996             9    45
1997             6    34
1998             5    18
1999             0     3

[76 rows x 2 columns]

In [37]:
rao_df.describe()

sex       female        male
count  76.000000   76.000000
mean    7.868421   82.921053
std     6.071446   63.109167
min     0.000000    1.000000
25%     2.750000   21.000000
50%     7.000000   84.000000
75%    11.250000  145.500000
max    23.000000  197.000000

In [38]:
singh_df = adf[adf.last_name=='singh'].groupby(['birth_year']).sex.value_counts().unstack(fill_value=0)
singh_df

sex         female  male
birth_year
1908             0     1
1913             0     2
1914             0     2
1915             0     3
1916             0     1
1918             0     5
1919             0     3
1920             0     8
1921             0    13
1922             0     5
1923             0    15
1924             0    15
1925             0    33
1926             0    27
1927             1    38
1928             1    49
1929             0    48
1930             0    90
1931             1    95
1932             2    92
1933             0   110
1934             2   107
1935             1   161
1936             1   221
1937             3   152
1938             2   224
1939             2   217
1940             2   295
1941             5   283
1942             8   278
...            ...   ...
1970           114  2002
1971           138  1956
1972           146  2035
1973           128  2066
1974           145  2163
1975           142  2528
1976           123  2374
1977           141  2124
1978           128  2513
1979           159  2226
1980           164  2865
1981           147  2740
1982           153  3121
1983           136  3325
1984           151  3434
1985           147  3271
1986           156  2901
1987           151  3456
1988           167  4477
1989           161  4846
1990           136  5456
1991           167  4546
1992           132  5776
1993           156  5707
1994           146  5932
1995           112  5012
1996           141  5607
1997           121  5287
1998           102  4856
1999             5    14

[87 rows x 2 columns]

In [39]:
adf[adf.last_name=='singh']

,elector_name,age,sex,state,birth_year,first_name,last_name
17,ravikant singh,28,male,andaman,1989,ravikant,singh
70,vijendra singh,46,male,andaman,1971,vijendra,singh
90,santosh kumar singh,36,male,andaman,1981,santosh,singh
106,gajendra singh,33,male,andaman,1984,gajendra,singh
107,rajan kumar singh,30,male,andaman,1987,rajan,singh
634,panda singh,55,male,andaman,1962,panda,singh
747,harprit singh,34,male,andaman,1983,harprit,singh
1908,jaypal singh,86,male,andaman,1931,jaypal,singh
1910,drip singh,30,male,andaman,1987,drip,singh
2261,sukhchand singh,24,male,andaman,1993,sukhchand,singh
2284,b b singh,48,male,andaman,1969,NaN,singh
2767,devesh singh,57,male,andaman,1960,devesh,singh
3049,ajay singh,45,male,andaman,1972,ajay,singh
3258,sulakha singh,32,female,andaman,1985,sulakha,singh
3259,jeeban singh,34,male,andaman,1983,jeeban,singh
3313,sanichar singh,82,male,andaman,1935,sanichar,singh
3314,sushen singh,39,male,andaman,1978,sushen,singh
4506,madan mohan singh,56,male,andaman,1961,madan,singh
4509,sanjay singh,25,male,andaman,1992,sanjay,singh
4545,reetu singh,27,female,andaman,1990,reetu,singh
4547,pooja singh,25,female,andaman,1992,pooja,singh
4588,anand singh,57,male,andaman,1960,anand,singh
4590,karan singh,52,male,andaman,1965,karan,singh
4609,manish singh,43,male,andaman,1974,manish,singh
4615,tarbabu singh,56,male,andaman,1961,tarbabu,singh
4617,ravi pal singh,68,male,andaman,1949,ravi,singh
4622,pooja singh,26,female,andaman,1991,pooja,singh
4628,manish singh,42,male,andaman,1975,manish,singh
4629,sobha singh,45,female,andaman,1972,sobha,singh
4637,arun singh,32,male,andaman,1985,arun,singh
...,...,...,...,...,...,...,...
8894518,mugan singh,57,male,puducherry,1960,mugan,singh
8894533,sather singh,32,male,puducherry,1985,sather,singh
8898709,bhawani singh,19,male,puducherry,1998,bhawani,singh
8898710,pratap singh,45,male,puducherry,1972,pratap,singh
8898712,narendra singh,20,male,puducherry,1997,narendra,singh
8901519,shiv pratap singh,48,male,puducherry,1969,shiv,singh
8914646,avinash singh,38,male,puducherry,1979,avinash,singh
8918577,jail singh,35,male,puducherry,1982,jail,singh
8922622,dhushyandhar singh,28,male,puducherry,1989,dhushyandhar,singh
8924683,shasi kala singh,51,female,puducherry,1966,shasi,singh
8924684,rajesh singh,45,male,puducherry,1972,rajesh,singh
8924685,shubham singh,24,male,puducherry,1993,shubham,singh
8924686,kaveri singh,21,female,puducherry,1996,kaveri,singh
8924687,shivani singh,20,female,puducherry,1997,shivani,singh
8924770,gulab chand singh,45,male,puducherry,1972,gulab,singh
8924991,ajay singh,41,male,puducherry,1976,ajay,singh
8924998,sandeep kumar singh,23,male,puducherry,1994,sandeep,singh
8925169,subhash singh,38,male,puducherry,1979,subhash,singh
8925170,sunitha singh,33,female,puducherry,1984,sunitha,singh
8925542,bhupendra singh,40,male,puducherry,1977,bhupendra,singh
8933670,sekar sunthar singh,59,male,puducherry,1958,sekar,singh
8939339,jethu singh,39,male,puducherry,1978,jethu,singh
8939581,ayyappan @ ganesh singh,33,male,puducherry,1984,ayyappan,singh
8939653,hari singh,24,male,puducherry,1993,hari,singh
8939677,sher singh,27,male,puducherry,1990,sher,singh
8942807,narasim singh,70,male,puducherry,1947,narasim,singh
8949157,zile singh,71,male,puducherry,1946,zile,singh
8965144,rathod jai singh,50,male,puducherry,1967,rathod,singh
8965646,kshatriya sarath chandra singh,22,male,puducherry,1995,kshatriya,singh
8972975,raja sundar singh,34,male,puducherry,1983,raja,singh

In [40]:
adf[adf.last_name=='shaik']

,elector_name,age,sex,state,birth_year,first_name,last_name
75755,farooque shaik,56,male,andaman,1961,farooque,shaik
85001,bachu shaik,48,male,andaman,1969,bachu,shaik
174332,manirul shaik,35,male,andaman,1982,manirul,shaik
213733,mohammed shaik,49,male,andaman,1968,mohammed,shaik
680184,md jugnu shaik,28,male,arunachal,1989,NaN,shaik
1213302,taijubi amit shaik,58,female,daman,1959,taijubi,shaik
1273735,akbar shaik,38,male,goa,1979,akbar,shaik
1276438,fardeen shaik,36,male,goa,1981,fardeen,shaik
1278127,imtiaz shaik,38,male,goa,1979,imtiaz,shaik
1284578,husan shaik,37,male,goa,1980,husan,shaik
1285235,lieyas shaik,43,female,goa,1974,lieyas,shaik
1286916,dastgir shaik,55,male,goa,1962,dastgir,shaik
1286917,shamshad shaik,25,female,goa,1992,shamshad,shaik
1286918,salim shaik,21,male,goa,1996,salim,shaik
1288296,bashir ahmad shaik,60,male,goa,1957,bashir,shaik
1289248,taskeen bi shaik,32,female,goa,1985,taskeen,shaik
1290897,abdul rehman shaik,29,male,goa,1988,abdul,shaik
1294273,javed mohammad shaik,47,male,goa,1970,javed,shaik
1296135,saloni shaik,33,female,goa,1984,saloni,shaik
1303351,anwar shaik,45,male,goa,1972,anwar,shaik
1303352,nurja bi anwar shaik,40,female,goa,1977,nurja,shaik
1303571,shadab shaik,29,male,goa,1988,shadab,shaik
1310687,firasab shaik,51,male,goa,1966,firasab,shaik
1310688,rajma shaik,43,female,goa,1974,rajma,shaik
1312969,amin shaik,31,male,goa,1986,amin,shaik
1313032,rameja bi shaik,56,female,goa,1961,rameja,shaik
1313581,latif shaik,63,male,goa,1954,latif,shaik
1313582,kurash shaik,48,female,goa,1969,kurash,shaik
1313583,razia shaik,39,female,goa,1978,razia,shaik
1313584,basir shaik,34,male,goa,1983,basir,shaik
...,...,...,...,...,...,...,...
2318083,mohammad shaik,34,male,goa,1983,mohammad,shaik
2318281,immam shaik,46,male,goa,1971,immam,shaik
2318282,noorjahan shaik,41,female,goa,1976,noorjahan,shaik
2325257,mahabuxa usman shaik,41,male,goa,1976,mahabuxa,shaik
2325260,ava bi shaik,39,female,goa,1978,ava,shaik
2325261,samina bi shaik,33,female,goa,1984,samina,shaik
2325306,jaheer ahmad shaik,70,male,goa,1947,jaheer,shaik
2325315,iqbal shaik,44,male,goa,1973,iqbal,shaik
2333011,usman shaik,47,male,goa,1970,usman,shaik
2333012,safinabi shaik,37,female,goa,1980,safinabi,shaik
2335070,nafisa shaik,19,female,goa,1998,nafisa,shaik
2337095,alishab shaik,32,male,goa,1985,alishab,shaik
2344494,riaz aamed shaik,25,male,goa,1992,riaz,shaik
2350619,fatima bi shaik,41,female,goa,1976,fatima,shaik
4536531,mohammad asif shaik,25,male,meghalaya,1992,mohammad,shaik
4715546,farhana shaik,26,female,meghalaya,1991,farhana,shaik
4721886,nur alam shaik,26,male,meghalaya,1991,nur,shaik
4739035,babu shaik,21,male,meghalaya,1996,babu,shaik
4748020,abdul rohim shaik,19,male,meghalaya,1998,abdul,shaik
5379538,farook shaik,47,male,meghalaya,1970,farook,shaik
5480456,soleman shaik,46,male,meghalaya,1971,soleman,shaik
8121558,ahamadunisha shaik,41,female,puducherry,1976,ahamadunisha,shaik
8121559,vali ahamad shaik,40,male,puducherry,1977,vali,shaik
8155974,ghoush yuddin shaik,76,male,puducherry,1941,ghoush,shaik
8155979,pyari jan shaik,68,female,puducherry,1949,pyari,shaik
8178610,mohamed nadim shaik,32,male,puducherry,1985,mohamed,shaik
8210323,umar shaik,41,male,puducherry,1976,umar,shaik
8370840,mohamed shaik,60,male,puducherry,1957,mohamed,shaik
8420623,mohamed shaik,22,male,puducherry,1995,mohamed,shaik
8505542,fathima begum shaik,28,female,puducherry,1989,fathima,shaik

In [46]:
shaik_df = adf[adf.last_name=='shaik'].groupby(['birth_year']).sex.value_counts().unstack(fill_value=0)
shaik_df

sex         female  male
birth_year
1924             0     1
1925             1     0
1926             1     0
1928             1     1
1930             0     1
1933             0     3
1934             5     1
1935             1     0
1936             1     0
1938             0     2
1939             1     5
1940             1     1
1941             3     3
1943             2     2
1944             6     1
1945             7     0
1946             2     4
1947             1     3
1948             1     4
1949            10     4
1950             8     6
1951             5     1
1952             1     8
1953             5     5
1954             8    13
1955             6     4
1956             6     8
1957             7     9
1958             4     2
1959            14    12
...            ...   ...
1969            14    16
1970            13    17
1971            10    17
1972            16    18
1973            14    23
1974            21    16
1975            22    17
1976            18    21
1977            13    12
1978            22    19
1979            19    21
1980            21    15
1981            11    19
1982            15    20
1983            21    24
1984            21    17
1985            12    29
1986            12    22
1987             9    24
1988            14    17
1989            14    25
1990             9    20
1991            19    13
1992            16    16
1993            17    12
1994            12    10
1995            15    16
1996            16    14
1997             9    13
1998             9     9

[69 rows x 2 columns]